<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="hexaaApp" ng-controller="OrganizationCtrl" ng-cloak class="ng-cloak">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <header>
          <span class="pull-right">
            You are logged in as User1.
            <button type="button" ng-click="" class="btn btn-link">Logout</button>
          </span>
          <h1>HEXAA</h1>
        </header>
        <tabset>
          <tab heading="Organizations" active="active">
            <h2>Organizations</h2>

            <div class="container-fluid">
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <select class="form-control" multiple>
                      <option>Organization1</option>
                      <option ng-click="goTo('organizations_inv.html')">New organization</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-9">
                  <h2 class="text-center">Organization1</h2>
                  <br/>

                  <ol class="breadcrumb">
                    <li><a ng-click="goTo('organizations5.html')">Properties</a></li>
                    <li><a ng-click="goTo('organizations2.html')">Managers</a></li>
                    <li><a ng-click="goTo('organizations3.html')">Members</a></li>
                    <li><a ng-click="goTo('organizations4.html')">Connected entitlementpacks</a></li>
                    <li class="active">Roles</li>
                  </ol>

                  <accordion close-others="true">
                    <accordion-group heading="RolePropertiesName">
                      <h4>Properties</h4>
                      <div class="form-group">
                        <label for="newRoleName">Name</label>
                        <input type="text" class="form-control" id="newRoleName" placeholder="Name of the role"/>

                        <label for="newRoleDescription">Description</label>
                        <input type="text" class="form-control" id="newRoleDescription" placeholder="Description of the role"/>
                      </div>
                      <h4>Members</h4>
                      <div class="row">
                        <div class="col-md-5">
                          <div suggest-box elements="" chosen="'newChosenRoleMembers'" placeholder="'type a name'" class="multisuggestbox"></div>
                        </div>
                        <div class="col-md-2">
                          <button type="button" ng-click="addRoleMembers($index)" class="btn btn-default">
                            Add <span class="glyphicon glyphicon-chevron-right"></span>
                          </button>
                          <button type="button" ng-click="removeRoleMembers($index)" class="btn btn-default">
                            <span class="glyphicon glyphicon-chevron-left"></span> Remove
                          </button>
                        </div>
                        <div class="col-md-5">
                          <div suggest-box elements="" chosen="'oldChosenRoleMembers'" placeholder="'type a name'" class="multisuggestbox"></div>
                        </div>
                      </div>
                      <h4>Entitlements</h4>
                      <div class="row">
                        <div class="col-md-5">
                          <div suggest-box elements="" chosen="'newChosenEntitlements'" placeholder="'type a name'" class="multisuggestbox"></div>
                        </div>
                        <div class="col-md-2">
                          <button type="button" ng-click="addEntitlements($index)" class="btn btn-default">
                            Add <span class="glyphicon glyphicon-chevron-right"></span>
                          </button>
                          <button type="button" ng-click="removeEntitlements($index)" class="btn btn-default">
                            <span class="glyphicon glyphicon-chevron-left"></span> Remove
                          </button>
                        </div>
                        <div class="col-md-5">
                          <div suggest-box elements="" chosen="'oldChosenEntitlements'" placeholder="'type a name'" class="multisuggestbox"></div>
                        </div>
                      </div>
                      <br/>
                      <button type="button" ng-click="deleteRole('$index')" class="btn btn-danger pull-right">Delete role</button>
                    </accordion-group>
                    <accordion-group heading="Add new role">
                      <div class="form-group">
                        <label for="newRoleName">Name</label>
                        <input type="text" class="form-control" id="newRoleName" placeholder="Name of the role" ng-model="newRole.properties.name"/>

                        <label for="newRoleDescription">Description</label>
                        <input type="text" class="form-control" id="newRoleDescription" placeholder="Description of the role" ng-model="newRole.properties.description"/>
                      </div>
                      <h4>Members</h4>
                      <div class="row">
                        <div class="col-md-5">
                          <div suggest-box elements="" chosen="'newChosenRoleMembersToNewRole'" placeholder="'type a name'" class="multisuggestbox"></div>
                        </div>
                        <div class="col-md-2">
                          <button type="button" ng-click="addRoleMembersToNewRole()" class="btn btn-default">
                            Add <span class="glyphicon glyphicon-chevron-right"></span>
                          </button>
                          <button type="button" ng-click="removeRoleMembersFromNewRole()" class="btn btn-default">
                            <span class="glyphicon glyphicon-chevron-left"></span> Remove
                          </button>
                        </div>
                        <div class="col-md-5">
                          <div suggest-box elements="" chosen="'oldChosenRoleMembersFromNewRole'" placeholder="'type a name'" class="multisuggestbox"></div>
                        </div>
                      </div>
                      <h4>Entitlements</h4>
                      <div class="row">
                        <div class="col-md-5">
                          <div suggest-box elements="" chosen="'newChosenEntitlementsToNewRole'" placeholder="'type a name'" class="multisuggestbox"></div>
                        </div>
                        <div class="col-md-2">
                          <button type="button" ng-click="addEntitlementsToNewRole()" class="btn btn-default">
                            Add <span class="glyphicon glyphicon-chevron-right"></span>
                          </button>
                          <button type="button" ng-click="removeEntitlementsFromNewRole()" class="btn btn-default">
                            <span class="glyphicon glyphicon-chevron-left"></span> Remove
                          </button>
                        </div>
                        <div class="col-md-5">
                          <div suggest-box elements="" chosen="'oldChosenEntitlementsFromNewRole'" placeholder="'type a name'" class="multisuggestbox"></div>
                        </div>
                      </div>

                      <br/>
                      <button type="button" ng-click="addNewRole()" class="btn btn-primary pull-right">Add new role</button>
                    </accordion-group>
                  </accordion>

                  <br/>
                  <button type="button" ng-click="saveOrganization()" class="btn btn-primary pull-right">Save organization</button>
                  <button type="button" ng-click="deleteOrganization()" class="btn btn-danger pull-right">Delete organization</button>
                </div>

              </div>
            </div>

          </tab>
          <tab heading="Services" ng-click="goTo('services1.html')"></tab>
          <tab heading="Profile" ng-click="goTo('profile.html')"></tab>
        </tabset>
      </div>
      <div class="col-md-2"></div>
    </div>

    <div ng-repeat="alert in alerts" >
      <div class="alert alert-{{alert.type}} alert{{$index}}">
        <span ng-click="closeAlert($index)" class="glyphicon glyphicon-remove-circle pull-right"></span>
        {{alert.msg}}
      </div>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/controllers/organizations5.js"></script>
        <script src="scripts/directives/ngmodelonblur.js"></script>
        <script src="scripts/directives/suggestbox.js"></script>
        <!-- endbuild -->
</body>
</html>
