<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="hexaaApp" ng-controller="ProfileCtrl" ng-cloak class="ng-cloak">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <header>
          <span class="pull-right">
            You are logged in as {{user.username}}.
            <button type="button" ng-click="logout()" class="btn btn-link">Logout</button>
          </span>
          <h1>HEXAA</h1>
        </header>
        <tabset>
          <tab heading="Organizations" select="goTo('/')"></tab>
          <tab heading="Services" select="goTo('services1.html')"></tab>
          <tab heading="Profile" active="active">
            <h2>Profile of {{user.username}}</h2>

            <h3>Personal data</h3>
            <div class="form-group">
              <label for="profileUsername">Name</label>
                <input type="text" class="form-control" id="profileUsername" placeholder="Username" ng-model="user.username">

                <label for="profileEmail">Email</label>
                <input type="text" class="form-control" id="profileEmail" placeholder="Email" ng-model="user.email">
            </div>

            <h3>My attributes</h3>
            ...

            <h3>My entitlements</h3>
            <div class="form-group">
              <select multiple class="form-control">
                <option ng-repeat="entitlement in user.entitlements">{{entitlement.name}}</option>
              </select>
            </div>
            
            <br/>
            <button type="button" ng-click="saveProfile()" class="btn btn-primary pull-right">Save profile</button>
          </tab>
        </tabset>
      </div>
      <div class="col-md-2"></div>
    </div>

    <div ng-repeat="alert in alerts" >
      <div class="alert alert-{{alert.type}} alert{{$index}}">
        <span ng-click="closeAlert($index)" class="glyphicon glyphicon-remove-circle pull-right"></span>
        {{alert.msg}}
      </div>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/controllers/profile.js"></script>
        <!-- endbuild -->
</body>
</html>
