<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="hexaaApp" ng-controller="ServiceCtrl" ng-cloak class="ng-cloak">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <header>
          <span class="pull-right">
            You are logged in as User1.
            <button type="button" ng-click="logout()" class="btn btn-link">Logout</button>
          </span>
          <h1>HEXAA</h1>
        </header>
        <tabset>
          <tab heading="Organizations" ng-click="goTo('/')"></tab>
          <tab heading="Services" active="active">
            <h2>Services</h2>

            <div class="container-fluid">
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <select class="form-control" multiple>
                      <option>Service1</option>
                      <option ng-click="goTo('services_inv.html')">New service</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-9">
                  <h2 class="text-center">Service1</h2>
                  <br/>

                  <ol class="breadcrumb">
                    <li><a ng-click="goTo('services1.html')">Properties</a></li>
                    <li><a ng-click="goTo('services2.html')">Managers</a></li>
                    <li><a ng-click="goTo('services3.html')">Attribute specification</a></li>
                    <li class="active">Entitlements</li>
                    <li><a ng-click="goTo('services5.html')">Entitlementpacks</a></li>
                  </ol>

                  <accordion close-others="true">
                    <accordion-group heading="EntitlementName">
                      <div class="form-group">
                      <label for="entitlementName">Name</label>
                        <input type="text" class="form-control" id="entitlementName" placeholder="Name of the entitlement">

                        <label for="entitlementDescription">Description</label>
                        <input type="text" class="form-control" id="entitlementDescription" placeholder="Description of the entitlement">

                        <label for="entitlementEduPersonEntitlement">eduPersonEntitlement</label>
                        <input type="text" class="form-control" id="entitlementEduPersonEntitlement" placeholder="eduPersonEntitlement">
                        <br/>
                        <button type="button" ng-click="deleteEntitlement('$index')" class="btn btn-danger pull-right">Delete entitlement</button>
                    </div>
                    </accordion-group>
                    <accordion-group heading="Add new entitlement">
                      <div class="form-group">
                      <label for="newEntitlementName">Name</label>
                        <input type="text" class="form-control" id="newEntitlementName" placeholder="Name of the entitlement">

                        <label for="newEntitlementDescription">Description</label>
                        <input type="text" class="form-control" id="newEntitlementDescription" placeholder="Description of the entitlement">

                        <label for="newEntitlementEduPersonEntitlement">eduPersonEntitlement</label>
                        <input type="text" class="form-control" id="newEntitlementEduPersonEntitlement" placeholder="eduPersonEntitlement">

                        <br/>
                        <button type="button" ng-click="addNewEntitlement()" class="btn btn-primary pull-right">Add new entitlement</button>
                    </div>
                    </accordion-group>
                </accordion>
                 
                  <br/>
                  <button type="button" ng-click="saveService()" class="btn btn-primary pull-right">Save service</button>
                  <button type="button" ng-click="deleteService()" class="btn btn-danger pull-right">Delete service</button>
                </div>
              </div>
            </div>
          </tab>
          <tab heading="Profile" ng-click="goTo('profile.html')"></tab>
        </tabset>
      </div>
      <div class="col-md-2"></div>
    </div>

    <div ng-repeat="alert in alerts" >
      <div class="alert alert-{{alert.type}} alert{{$index}}">
        <span ng-click="closeAlert($index)" class="glyphicon glyphicon-remove-circle pull-right"></span>
        {{alert.msg}}
      </div>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/controllers/services4.js"></script>
        <script src="scripts/directives/ngmodelonblur.js"></script>
        <script src="scripts/directives/suggestbox.js"></script>
        <!-- endbuild -->
</body>
</html>
