<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="hexaaApp" ng-controller="OrganizationCtrl" ng-cloak class="ng-cloak">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <header>
          <span class="pull-right">
            You are logged in as {{user.username}}.
            <button type="button" ng-click="logout()" class="btn btn-link">Logout</button>
          </span>
          <h1>HEXAA</h1>
        </header>
        <tabset>
          <tab heading="Organizations" active="active">
            <h2>Organizations</h2>

            <div class="container-fluid">
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <select class="form-control" multiple>
                      <option ng-repeat="organization in organizations" ng-click="selectOrganization($index)">{{organization.properties.name}}</option>
                      <option ng-click="selectOrganization(-1)">New organization</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-9" ng-hide="creatingNewOrganization">
                  <h2 class="text-center">{{organizations[selectedOrganization].properties.name}}</h2>
                  <br/>

                  <div class="well well-sm">
                    <h3 ng-click="collapse(0)">Properties <img ng-src="images/collapse_{{!isCollapsed[0]}}.png" alt="collapse"/></h3>
                    <div collapse="isCollapsed[0]">
                      <div class="form-group">
                        <label for="propertiesName">Name</label>
                        <input type="text" class="form-control" id="propertiesName" placeholder="Name of the property" ng-model="organizations[selectedOrganization].properties.name"/>

                        <label for="propertiesDescription">Description</label>
                        <input type="text" class="form-control" id="propertiesDescription" placeholder="Description of the property" ng-model="organizations[selectedOrganization].properties.description"/>

                        <label for="propertiesDefaultRole">Default role</label>
                        <input type="text" class="form-control" id="propertiesDefaultRole" placeholder="Default role" ng-model="organizations[selectedOrganization].properties.defaultRole"/>
                      </div>
                    </div>
                  </div>

                  <div class="well well-sm">
                    <h3 ng-click="collapse(1)">Managers <img ng-src="images/collapse_{{!isCollapsed[1]}}.png" alt="collapse"/></h3>
                    <div collapse="isCollapsed[1]">
                      <div class="row">
                        <div class="col-md-5">
                          <div suggest-box elements="managers" chosen="'newChosenManagers'" placeholder="'type a name'" class="multisuggestbox"></div>
                        </div>
                        <div class="col-md-2">
                          <button type="button" ng-click="addManagers()"  class="btn btn-default">
                            Add <span class="glyphicon glyphicon-chevron-right"></span>
                          </button>
                          <button type="button" ng-click="removeManagers()"  class="btn btn-default">
                            <span class="glyphicon glyphicon-chevron-left"></span> Remove
                          </button>

                          <div ng-controller="InviteManagersCtrl">
                            <script type="text/ng-template" id="inviteManagersModal.html">
                                <div class="modal-header">
                                    <h3 class="modal-title">Invitation to {{organizationName}}</h3>
                                </div>
                                <div class="modal-body">
                                  <div class="form-group">
                                    <label for="propertiesName">Email addresses</label>
                                    <input type="text" class="form-control" id="emailAddresses" placeholder="Email address of new managers" ng-model="invitation.invitedManagers"/>

                                    <label for="invitationText">Invitation text</label>
                                    <textarea class="form-control" id="invitationText" placeholder="Invitation text" ng-model="invitation.inviteText"/>
                                  </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary" ng-click="ok()">Send invitation</button>
                                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                                </div>
                            </script>

                            <button type="button" ng-click="inviteManagers()"  class="btn btn-default">
                              Invite <span class="glyphicon glyphicon-envelope"></span>
                            </button>
                          </div>
                        </div>
                        <div class="col-md-5">
                          <div suggest-box elements="organizations[selectedOrganization].managers" chosen="'oldChosenManagers'" placeholder="'type a name'" class="multisuggestbox"></div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="well well-sm">
                    <h3 ng-click="collapse(2)">Members <img ng-src="images/collapse_{{!isCollapsed[2]}}.png" alt="collapse"/></h3>
                    <div collapse="isCollapsed[2]">
                      <div class="row">
                        <div class="col-md-5">
                          <div suggest-box elements="members" chosen="'newChosenMembers'" placeholder="'type a name'" class="multisuggestbox"></div>
                        </div>
                        <div class="col-md-2">
                          <button type="button" ng-click="addMembers()" class="btn btn-default">
                            Add <span class="glyphicon glyphicon-chevron-right"></span>
                          </button>
                          <button type="button" ng-click="removeMembers()" class="btn btn-default">
                            <span class="glyphicon glyphicon-chevron-left"></span> Remove
                          </button>
                        </div>
                        <div class="col-md-5">
                          <div suggest-box elements="organizations[selectedOrganization].members" chosen="'oldChosenMembers'" placeholder="'type a name'" class="multisuggestbox"></div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="well well-sm">
                    <h3 ng-click="collapse(3)">Connected entitlementpacks <img ng-src="images/collapse_{{!isCollapsed[3]}}.png" alt="collapse"/></h3>
                    <div collapse="isCollapsed[3]">
                      <div class="table-responsive">
                        <table class="table">
                          <tr ng-repeat="connectedEntitlementPack in organizations[selectedOrganization].connectedEntitlementPacks">
                            <td>{{connectedEntitlementPack.name}}</td>
                            <td>
                              <button type="button" ng-click="deleteConnectedEntitlementPack(connectedEntitlementPack.id)" class="btn btn-danger pull-right">Delete</button>
                            </td>
                          </tr>
                        </table>
                      </div>
                      <br/>

                      <div class="form-group">
                        <label for="newEntitlementpackToken">Token</label>
                        <div class="input-group">
                          <input type="text" class="form-control" id="newEntitlementpackToken" placeholder="Token of the new entitlemenpack" ng-model="newEntitlementpackToken">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="connectNewEntitlementpack(newEntitlementpackToken)">Connect</button>
                          </span>
                        </div>
                      </div>

                      <accordion close-others="true">
                        <accordion-group ng-repeat="role in organizations[selectedOrganization].roles" heading="{{role.properties.name}}">
                          <h4>Properties</h4>
                          <div class="form-group">
                            <label for="newRoleName">Name</label>
                            <input type="text" class="form-control" id="newRoleName" placeholder="Name of the role" ng-model="role.properties.name"/>

                            <label for="newRoleDescription">Description</label>
                            <input type="text" class="form-control" id="newRoleDescription" placeholder="Description of the role" ng-model="role.properties.description"/>
                          </div>
                          <h4>Members</h4>
                          <div class="row">
                            <div class="col-md-5">
                              <div suggest-box elements="organizations[selectedOrganization].members" chosen="'newChosenRoleMembers'" placeholder="'type a name'" class="multisuggestbox"></div>
                            </div>
                            <div class="col-md-2">
                              <button type="button" ng-click="addRoleMembers($index)" class="btn btn-default">
                                Add <span class="glyphicon glyphicon-chevron-right"></span>
                              </button>
                              <button type="button" ng-click="removeRoleMembers($index)" class="btn btn-default">
                                <span class="glyphicon glyphicon-chevron-left"></span> Remove
                              </button>
                            </div>
                            <div class="col-md-5">
                              <div suggest-box elements="role.members" chosen="'oldChosenRoleMembers'" placeholder="'type a name'" class="multisuggestbox"></div>
                            </div>
                          </div>
                          <h4>Entitlements</h4>
                          <div class="row">
                            <div class="col-md-5">
                              <div suggest-box elements="entitlements" chosen="'newChosenEntitlements'" placeholder="'type a name'" class="multisuggestbox"></div>
                            </div>
                            <div class="col-md-2">
                              <button type="button" ng-click="addEntitlements($index)" class="btn btn-default">
                                Add <span class="glyphicon glyphicon-chevron-right"></span>
                              </button>
                              <button type="button" ng-click="removeEntitlements($index)" class="btn btn-default">
                                <span class="glyphicon glyphicon-chevron-left"></span> Remove
                              </button>
                            </div>
                            <div class="col-md-5">
                              <div suggest-box elements="role.entitlements" chosen="'oldChosenEntitlements'" placeholder="'type a name'" class="multisuggestbox"></div>
                            </div>
                          </div>
                          <br/>
                          <button type="button" ng-click="deleteRole($index)" class="btn btn-danger pull-right">Delete role</button>
                        </accordion-group>
                        <accordion-group heading="Add new role">
                          <div class="form-group">
                            <label for="newRoleName">Name</label>
                            <input type="text" class="form-control" id="newRoleName" placeholder="Name of the role" ng-model="newRole.properties.name"/>

                            <label for="newRoleDescription">Description</label>
                            <input type="text" class="form-control" id="newRoleDescription" placeholder="Description of the role" ng-model="newRole.properties.description"/>
                          </div>
                          <h4>Members</h4>
                          <div class="row">
                            <div class="col-md-5">
                              <div suggest-box elements="organizations[selectedOrganization].members" chosen="'newChosenRoleMembersToNewRole'" placeholder="'type a name'" class="multisuggestbox"></div>
                            </div>
                            <div class="col-md-2">
                              <button type="button" ng-click="addRoleMembersToNewRole()" class="btn btn-default">
                                Add <span class="glyphicon glyphicon-chevron-right"></span>
                              </button>
                              <button type="button" ng-click="removeRoleMembersFromNewRole()" class="btn btn-default">
                                <span class="glyphicon glyphicon-chevron-left"></span> Remove
                              </button>
                            </div>
                            <div class="col-md-5">
                              <div suggest-box elements="newRole.members" chosen="'oldChosenRoleMembersFromNewRole'" placeholder="'type a name'" class="multisuggestbox"></div>
                            </div>
                          </div>
                          <h4>Entitlements</h4>
                          <div class="row">
                            <div class="col-md-5">
                              <div suggest-box elements="entitlements" chosen="'newChosenEntitlementsToNewRole'" placeholder="'type a name'" class="multisuggestbox"></div>
                            </div>
                            <div class="col-md-2">
                              <button type="button" ng-click="addEntitlementsToNewRole()" class="btn btn-default">
                                Add <span class="glyphicon glyphicon-chevron-right"></span>
                              </button>
                              <button type="button" ng-click="removeEntitlementsFromNewRole()" class="btn btn-default">
                                <span class="glyphicon glyphicon-chevron-left"></span> Remove
                              </button>
                            </div>
                            <div class="col-md-5">
                              <div suggest-box elements="newRole.entitlements" chosen="'oldChosenEntitlementsFromNewRole'" placeholder="'type a name'" class="multisuggestbox"></div>
                            </div>
                          </div>

                          <br/>
                          <button type="button" ng-click="addNewRole()" class="btn btn-primary pull-right">Add new role</button>
                        </accordion-group>
                      </accordion>
                    </div>
                  </div>

                  <br/>
                  <button type="button" ng-click="saveOrganization()" class="btn btn-primary pull-right">Save organization</button>
                  <button type="button" ng-click="deleteOrganization()" class="btn btn-danger pull-right">Delete organization</button>
                </div>

                <div class="col-md-9" ng-show="creatingNewOrganization">
                  <h2 class="text-center">New organization</h2>
                  <br/>

                  <div class="form-group">
                    <label for="newOrganizationName">Name</label>
                    <input type="text" class="form-control" id="newOrganizationName" placeholder="Name of the organization" ng-model="newOrganization.properties.name"/>

                    <label for="newOrganizationDescription">Description</label>
                    <input type="text" class="form-control" id="newOrganizationDescription" placeholder="Description of the property" ng-model="newOrganization.properties.description"/>

                    <label for="newOrganizationDefaultRole">Default role</label>
                    <input type="text" class="form-control" id="newOrganizationDefaultRole" placeholder="Organization's default role" ng-model="newOrganization.properties.defaultRole"/>

                    <br/>
                    <button type="button" ng-click="addNewOrganization()" class="btn btn-primary pull-right">Add new organization</button>
                  </div>
                </div>
              </div>
            </div>

          </tab>
          <tab heading="Services" ng-click="goTo('services.html')"></tab>
          <tab heading="Profile" ng-click="goTo('profile.html')"></tab>
        </tabset>
      </div>
      <div class="col-md-2"></div>
    </div>

    <div ng-repeat="alert in alerts" >
      <div class="alert alert-{{alert.type}} alert{{$index}}">
        <span ng-click="closeAlert($index)" class="glyphicon glyphicon-remove-circle pull-right"></span>
        {{alert.msg}}
      </div>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/controllers/organizations.js"></script>
        <script src="scripts/directives/ngmodelonblur.js"></script>
        <script src="scripts/directives/suggestbox.js"></script>
        <script src="scripts/controllers/inviteorgmanagers.js"></script>
        <!-- endbuild -->
</body>
</html>
