<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="multisuggestbox.css">
</head>
<body ng-app="app" ng-controller="MSBCtrl">
<div>
  <div>
    <div suggest-box users="users" model="chosenUsers" class="multisuggestbox"></div>
  </div>
  <input type="button" value="Test" ng-click="test()"/>
    
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.2/angular.min.js"></script>
  <script src="multisuggestbox.js"></script>
</body>
</html>
