<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="hexaaApp" ng-controller="ServiceCtrl" ng-cloak class="ng-cloak">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <header>
          <span class="pull-right">
            You are logged in as {{user.username}}.
            <button type="button" ng-click="logout()" class="btn btn-link">Logout</button>
          </span>
          <h1>HEXAA</h1>
        </header>
        <tabset>
          <tab heading="Organizations" ng-click="goTo('/')"></tab>
          <tab heading="Services" active="active">
            <h2>Services</h2>

            <div class="container-fluid">
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <select class="form-control" multiple>
                      <option ng-repeat="service in services" ng-click="selectService($index)">{{service.properties.name}}</option>
                    <option ng-click="selectService(-1)">New service</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-9" ng-hide="creatingNewService">
                  <h2 class="text-center">{{services[selectedService].properties.name}}</h2>
                  <br/>

                  <div class="well well-sm">
                    <h3 ng-click="collapse(0)">Properties <img ng-src="images/collapse_{{!isCollapsed[0]}}.png" alt="collapse"/></h3>
                    <div collapse="isCollapsed[0]">
                      <div class="form-group">
                        <label for="propertiesUrl">URL</label>
                        <input type="text" class="form-control" id="propertiesUrl" placeholder="http://" ng-model="services[selectedService].properties.url">

                        <label for="propertiesSAMLSpEntityId">SAML SP EntityID</label>
                        <input type="text" class="form-control" id="propertiesSAMLSpEntityId" placeholder="SAML SP EntityId" ng-model="services[selectedService].properties.samlSpEntityId">

                        <label for="propertiesDescription">Description</label>
                        <input type="text" class="form-control" id="propertiesDescription" placeholder="Description of the property" ng-model="services[selectedService].properties.description">
                      </div>
                    </div>
                  </div>

                  <div class="well well-sm">
                    <h3 ng-click="collapse(1)">Attribute specifications <img ng-src="images/collapse_{{!isCollapsed[1]}}.png" alt="collapse"/></h3>
                    <div collapse="isCollapsed[1]">
                      ...
                    </div>
                  </div>

                  <div class="well well-sm">
                    <h3 ng-click="collapse(2)">Managers <img ng-src="images/collapse_{{!isCollapsed[2]}}.png" alt="collapse"/></h3>
                    <div collapse="isCollapsed[2]">
                      <div class="row">
                        <div class="col-md-5">
                          <div suggest-box elements="managers" chosen="'newChosenManagers'" placeholder="'type a name'" class="multisuggestbox"></div>
                        </div>
                        <div class="col-md-2">
                          <button type="button" ng-click="addManagers()"  class="btn btn-default">
                            Add <span class="glyphicon glyphicon-chevron-right"></span>
                          </button>
                          <button type="button" ng-click="removeManagers()"  class="btn btn-default">
                            <span class="glyphicon glyphicon-chevron-left"></span> Remove
                          </button>
                          
                          <div ng-controller="InviteManagersCtrl">
                            <script type="text/ng-template" id="inviteManagersModal.html">
                                <div class="modal-header">
                                    <h3 class="modal-title">Invitation to {{serviceName}}</h3>
                                </div>
                                <div class="modal-body">
                                  <div class="form-group">
                                    <label for="propertiesName">Email addresses</label>
                                    <input type="text" class="form-control" id="emailAddresses" placeholder="Email address of new managers" ng-model="invitation.invitedManagers"/>

                                    <label for="invitationText">Invitation text</label>
                                    <textarea class="form-control" id="invitationText" placeholder="Invitation text" ng-model="invitation.inviteText"/>
                                  </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary" ng-click="ok()">Send invitation</button>
                                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                                </div>
                            </script>

                            <button type="button" ng-click="inviteManagers()"  class="btn btn-default">
                              Invite <span class="glyphicon glyphicon-envelope"></span>
                            </button>
                          </div>
                        </div>
                        <div class="col-md-5">
                          <div suggest-box elements="services[selectedService].managers" chosen="'oldChosenManagers'" placeholder="'type a name'" class="multisuggestbox"></div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="well well-sm">
                    <h3 ng-click="collapse(3)">Entitlements <img ng-src="images/collapse_{{!isCollapsed[3]}}.png" alt="collapse"/></h3>
                    <div collapse="isCollapsed[3]">
                      <accordion close-others="true">
                          <accordion-group ng-repeat="entitlement in services[selectedService].entitlements" heading="{{entitlement.name}}">
                            <div class="form-group">
                            <label for="entitlementName">Name</label>
                              <input type="text" class="form-control" id="entitlementName" placeholder="Name of the entitlement" ng-model="entitlement.name">

                              <label for="entitlementDescription">Description</label>
                              <input type="text" class="form-control" id="entitlementDescription" placeholder="Description of the entitlement" ng-model="entitlement.description">

                              <label for="entitlementEduPersonEntitlement">eduPersonEntitlement</label>
                              <input type="text" class="form-control" id="entitlementEduPersonEntitlement" placeholder="eduPersonEntitlement" ng-model="entitlement.eduPersonEntitlement">
                              <br/>
                              <button type="button" ng-click="deleteEntitlement($index)" class="btn btn-danger pull-right">Delete entitlement</button>
                          </div>
                          </accordion-group>
                          <accordion-group heading="Add new entitlement">
                            <div class="form-group">
                            <label for="newEntitlementName">Name</label>
                              <input type="text" class="form-control" id="newEntitlementName" placeholder="Name of the entitlement" ng-model="newEntitlement.name">

                              <label for="newEntitlementDescription">Description</label>
                              <input type="text" class="form-control" id="newEntitlementDescription" placeholder="Description of the entitlement" ng-model="newEntitlement.description">

                              <label for="newEntitlementEduPersonEntitlement">eduPersonEntitlement</label>
                              <input type="text" class="form-control" id="newEntitlementEduPersonEntitlement" placeholder="eduPersonEntitlement" ng-model="newEntitlement.eduPersonEntitlement">

                              <br/>
                              <button type="button" ng-click="addNewEntitlement()" class="btn btn-primary pull-right">Add new entitlement</button>
                          </div>
                          </accordion-group>
                      </accordion>
                    </div>
                  </div>

                  <div class="well well-sm">
                    <h3 ng-click="collapse(4)">Entitlementpacks <img ng-src="images/collapse_{{!isCollapsed[4]}}.png" alt="collapse"/></h3>
                    <div collapse="isCollapsed[4]">
                      <accordion close-others="true">
                          <accordion-group ng-repeat="entitlementPack in services[selectedService].entitlementPacks" heading="{{entitlementPack.name}}">
                            <h4>Properties</h4>
                            <div class="form-group">
                              <label for="entitlementPackName">Name</label>
                              <input type="text" class="form-control" id="entitlementPackName" placeholder="Name of the entitlementpack" ng-model="entitlementPack.name">

                              <label for="entitlementPackDescription">Description</label>
                              <input type="text" class="form-control" id="entitlementPackDescription" placeholder="Description of the entitlementpack" ng-model="entitlementPack.description">

                              <label for="entitlementPackType">Type</label>
                              <input type="text" class="form-control" id="entitlementPackType" placeholder="Type of the entitlementpack" ng-model="entitlementPack.type">

                              <label for="entitlementPackToken">Token</label>
                              <input type="text" class="form-control" id="entitlementPackToken" placeholder="Token for the entitlementpack" ng-model="entitlementPack.token">
                          </div>
                          <h4>Mapping</h4>
                            <div class="row">
                              <div class="col-md-5">
                                <div suggest-box elements="services[selectedService].entitlements" chosen="'newChosenEntitlements'" placeholder="'type a name'" class="multisuggestbox"></div>
                              </div>
                              <div class="col-md-2">
                                <button type="button" ng-click="addEntitlements($index)"  class="btn btn-default">
                                  Add <span class="glyphicon glyphicon-chevron-right"></span>
                                </button>
                                <button type="button" ng-click="removeEntitlements($index)"  class="btn btn-default">
                                  <span class="glyphicon glyphicon-chevron-left"></span> Remove
                                </button>
                              </div>
                              <div class="col-md-5">
                                <div suggest-box elements="entitlementPack.entitlements" chosen="'oldChosenEntitlements'" placeholder="'type a name'" class="multisuggestbox"></div>
                              </div>
                            </div>
                            <br/>
                            <button type="button" ng-click="deleteEntitlementPack($index)" class="btn btn-danger pull-right">Delete entitlementpack</button>
                          </accordion-group>
                          <accordion-group heading="Add new entitlementpack">
                            <div class="form-group">
                              <label for="newEntitlementPackName">Name</label>
                              <input type="text" class="form-control" id="newEntitlementPackName" placeholder="Name of the entitlementpack" ng-model="newEntitlementPack.name">

                              <label for="newEntitlementPackDescription">Description</label>
                              <input type="text" class="form-control" id="newEntitlementPackDescription" placeholder="Description of the entitlementpack" ng-model="newEntitlementPack.description">

                              <label for="newEntitlementPackType">Type</label>
                              <input type="text" class="form-control" id="newEntitlementPackType" placeholder="Type of the entitlementpack" ng-model="newEntitlementPack.type">

                              <label for="newEntitlementPackToken">Token</label>
                              <input type="text" class="form-control" id="newEntitlementPackToken" placeholder="Token for the entitlementpack" ng-model="newEntitlementPack.token">

                              <br/>
                              <button type="button" ng-click="addNewEntitlementPack()" class="btn btn-primary pull-right">Add new entitlementpack</button>
                            </div>
                          </accordion-group>
                      </accordion>
                    </div>
                  </div>
                  <br/>
                  <button type="button" ng-click="saveService()" class="btn btn-primary pull-right">Save service</button>
                  <button type="button" ng-click="deleteService()" class="btn btn-danger pull-right">Delete service</button>
                </div>

                <div class="col-md-9" ng-show="creatingNewService">
                  <h2 class="text-center">New service</h2>
                  <br/>

                  <div class="form-group">
                    <label for="newServiceName">Name</label>
                    <input type="text" class="form-control" id="newServiceName" placeholder="Name of the service" ng-model="newService.properties.name">

                    <label for="newServiceUrl">URL</label>
                    <input type="text" class="form-control" id="newServiceUrl" placeholder="http://" ng-model="newService.properties.url">

                    <label for="newServiceSAMLSpEntityId">SAML SP EntityID</label>
                    <input type="text" class="form-control" id="newServiceSAMLSpEntityId" placeholder="SAML SP EntityId" ng-model="newService.properties.samlSpEntityId">

                    <label for="newServiceDescription">Description</label>
                    <input type="text" class="form-control" id="newServiceDescription" placeholder="Description of the property" ng-model="newService.properties.description">

                    <br/>
                    <button type="button" ng-click="addNewService()" class="btn btn-primary pull-right">Add new service</button>
                  </div>
                </div>
              </div>
            </div>
          </tab>
          <tab heading="Profile" ng-click="goTo('profile.html')"></tab>
        </tabset>
      </div>
      <div class="col-md-2"></div>
    </div>

    <div ng-repeat="alert in alerts" >
      <div class="alert alert-{{alert.type}} alert{{$index}}">
        <span ng-click="closeAlert($index)" class="glyphicon glyphicon-remove-circle pull-right"></span>
        {{alert.msg}}
      </div>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/controllers/services.js"></script>
        <script src="scripts/directives/ngmodelonblur.js"></script>
        <script src="scripts/directives/suggestbox.js"></script>
        <script src="scripts/controllers/inviteservicemanagers.js"></script>
        <!-- endbuild -->
</body>
</html>
