/* MultiSuggestBox directive */
.multisuggestbox {
	width: 200px;
}

.form-control .searchUser {
	width: inherit !important;
	position: relative !important;
}

.form-control .selectUser {
	width: inherit !important;
	position: relative !important;
}

/* Alert */
.alert {
	width: 100%;
	bottom: 0;
	position: fixed;
	margin-bottom: 0;
}
.alert .glyphicon-remove-circle { cursor: pointer; }

/* FIX */
textarea { resize: vertical; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

.well h3 {
	cursor: pointer;
}

.accordion-toggle{
	cursor: pointer;
}

.breadcrumb > li + li:before {
  content: "\27a4\00a0" !important;
}